<!DOCTYPE html>
<html lang="en">
<head>
 <title>Instructivo: Milanesas a la Napolitana con pure</title>
 </head>

<body>
    <h1>Milanesas a la Napolitana con pure</h1>
   
    <img src="C:\Users\Usuario\Desktop\Agos\Tarea 2\Img\Milanesas.jpeg" alt="Descripción de la imagen" width="500" height="200">
    

    <h2>Ingredientes</h2>
    <ul>
        <li>4 bifes de carne (nalga o cuadrada)</li>
        <li>2 huevos</li>
        <li>1 taza de pan rallado</li>
        <li>1 taza de harina</li>
        <li>Sal y pimienta al gusto</li>
        <li>200 gramos de jamón</li>
        <li>200 gramos de queso</li>
        <li>1 taza de salsa</li>
        <li>Orégano al gusto</li>
        <li>4 papas grandes</li>
        <li>50 gramos de manteca</li>
        <li>1 taza de leche</li>
        <li>Nuez moscada al gusto</li>
    </ul>

    <h2>Preparación</h2>
    <iframe width="500" height="200" src="https://www.youtube.com/embed/dNLE2Zdb-Pc" title="COMO HACER BIZCOCHUELO CASERO de VAINILLA FACIL y RAPIDO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <ol>
        <li>Precalentar el horno a 200°C.</li>
        <li>Salpimentar los bifes de carne.</li>
        <li>Pasar los bifes por harina, luego por huevo batido y finalmente por pan rallado.</li>
        <li>Freír los bifes empanados en aceite caliente hasta que estén dorados. Escurrir en papel absorbente.</li>
        <li>Colocar los bifes en una fuente para horno. Cubrir con salsa de tomate, jamón y queso.</li>
        <li>Espolvorear con orégano y llevar al horno hasta que el queso se derrita y dore ligeramente.</li>
        <li>Para el puré, pelar y cortar las papas en cubos. Cocinar en agua hirviendo con sal hasta que estén tiernas.</li>
        <li>Escurrir las papas y hacer un puré agregando manteca, leche, sal, pimienta y nuez moscada al gusto.</li>
        <li>Servir las milanesas a la napolitana acompañadas del puré de papas.</li>
    </ol>
</body>
</html>