<!DOCTYPE html>
<html lang="en">
<head>
    <title>Instructivo: Bizcochuelo de Vainilla</title>
</head>
<body>
    <h1>Bizcochuelo de Vainilla</h1>

    <img src="c:\Users\Usuario\Desktop\Agos\Tarea 2\public\img\Biscochuelo.jpeg" alt="Descripción de la imagen" width="500" height="200">
    <h2>Ingredientes</h2>
    <ul>
        <li>4 huevos</li>
        <li>2 tazas de azúcar (400 gramos)</li>
        <li>2 tazas de harina leudante</li>
        <li>1 taza de leche (240 mililitros)</li>
        <li>1 vaso pequeño de aceite (100 ml)</li>
        <li>1 cucharadita de esencia de vainilla</li>
    </ul>

    <h2>Preparación</h2>
    <iframe width="500" height="200" src="https://www.youtube.com/embed/LnfIziVFTQ8" title="¡QUIERO COMER! | Milanesa napolitana - Puré de papas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <ol>
        <li>Precalentar el horno a 180°C.</li>
        <li>Batir bien el azúcar con los huevos hasta que se integren completamente.</li>
        <li>Agregar la esencia de vainilla y el aceite, y mezclar bien.</li>
        <li>Incorporar la mitad de la harina leudante tamizada y mezclar de forma envolvente.</li>
        <li>Añadir la leche y seguir mezclando hasta integrar.</li>
        <li>Agregar el resto de la harina y mezclar hasta obtener una masa homogénea.</li>
        <li>Verter la mezcla en un molde engrasado y enharinado.</li>
        <li>Hornear durante aproximadamente 45 minutos o hasta que al insertar un palillo, este salga limpio.</li>
        <li>Dejar enfriar antes de desmoldar y servir.</li>
    </ol>
    
</body>
</html>